<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <!-- 配置乱码过滤器 -->
  <filter>  
        <filter-name>characterEncodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>  
            <param-name>encoding</param-name>  
            <param-value>UTF-8</param-value>  
        </init-param>  
        <init-param>  
            <param-name>forceEncoding</param-name>  
            <param-value>true</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>characterEncodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping> 
    
    <!-- springmvc前端控制器 -->
  <servlet>
  	<servlet-name>UserInfoAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
 
   <servlet>
  	<servlet-name>AdminOrderInfoAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>AddressAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>AdminAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ComplainAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>DiscussAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
 
  <servlet>
  	<servlet-name>GoodsAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
 
  <servlet>
  	<servlet-name>LogisticsAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>OrderInfoAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>NoticeAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ShoppingAction</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:applicationContext.xml</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserInfoAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddressAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ComplainAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DiscussAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>GoodsAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LogisticsAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderInfoAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoticeAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShoppingAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
   
  <servlet-mapping>
  	<servlet-name>AdminOrderInfoAction</servlet-name>
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
 <error-page>
 	<error-code>404</error-code>
 	<location>/pages/back/wrong/wrong404.jsp</location>
 </error-page>
 <error-page>
 	<error-code>500</error-code>
 	<location>/pages/back/wrong/wrong500.jsp</location>
 </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
